body {
  font-family: Roboto, sans-serif;
  background-color: #f1f1f1;
}

body {
  scroll-behavior: smooth;
}

.btn-group.btn-group-sm {
  width: 1140px;
  margin: auto;
}

#profile-pic {
}

.profile-pic {
  border-radius: 100px;
}

html {
  scroll-behavior: smooth;
}

#p-footer {
  font-size: 12px;
  color: rgb(255,255,255);
  font-weight: bold;
  border-color: rgb(255,255,255);
  filter: brightness(74%);
}

